@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
//Text
$dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);

//Gradient background
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

//  Neutral
// Text
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);

// Dividers
$light-grayish-blue: hsl(240, 5%, 91%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;

  background-image: linear-gradient($soft-violet, $soft-blue);
  background-repeat: no-repeat;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;

  grid-template-columns: 1fr 1fr;

  width: 80vw;
  grid-template-areas: "container-logo container-content";
  background-color: white;

  gap: 2rem;
  margin: 3.2rem;

  border-radius: 1rem;

  .container-logo {
    grid-area: container-logo;
  }

  .container-content {
    grid-area: container-content;
  }
}

.container-content {
  .content-title {
    //for acessibility
    text-transform: uppercase;

    font-weight: 700;

    margin: 6.4rem auto 6.4rem 0;
  }

  .content-item {
    margin: 0 6.4rem 1.6rem 0;
    display: grid;

    grid-template-areas:
      "topic"
      "text"
      "line";

    .item-topic {
      grid-area: topic;

      color: $very-dark-grayish-blue;

      cursor: pointer;
      text-decoration: none;
      &:hover {
        color: $soft-red;
      }

      &.active {
        font-weight: 700;
        color: $dark-desaturated-blue;

        &:hover {
          color: $soft-red;
        }
      }
    }

    .item-arrow-icon {
      grid-area: topic;
      align-self: center;
      justify-self: end;

      &.active {
        transform: rotate(180deg);
      }
    }
    .item-text {
      margin-top: 1.6rem;
      grid-area: text;

      color: $dark-grayish-blue;
      display: none;

      &.active {
        display: block;
      }
    }

    .item-line {
      color: $light-grayish-blue;
      margin-top: 1.6rem;
      grid-area: line;
    }
  }
}

.container-logo {
  display: flex;

  .logo-background {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("../images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position-x: -6rem;
    background-position-y: center;
    background-size: 100% 100%;

    .logo-woman {
      width: 100%;
      height: 100%;
      position: relative;
      background-image: url("../images/illustration-woman-online-desktop.svg");
      background-repeat: no-repeat;
      background-position-x: -80px;
      background-position-y: center;

      .logo-box {
        background-image: url("../images/illustration-box-desktop.svg");
        background-repeat: no-repeat;
        width: 100%;
        height: 80%;

        position: relative;
        top: 20.5rem;
        left: -8.5rem;
      }
    }
  }
}

// Responsive

@media only screen and(max-width:768px) {
  .logo-woman {
    background-image: url("../images/illustration-woman-online-mobile.svg") !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 12rem;
    background-position-x: center !important;
  }

  .logo-box {
    display: none;
  }
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "container-logo"
      "container-content";

    .container-logo {
      grid-area: container-logo;

      display: flex;
      justify-content: center;
    }

    .container-content {
      grid-area: container-content;

      display: flex;
      flex-direction: column;
    }

    .content-title {
      margin: 1.6rem auto;
    }

    .content-item {
      margin: 0 3.2rem 1.6rem 3.2rem;
    }
  }
}

@media only screen and(max-width:375px) {
  html {
    font-size: 50%;
  }
}
